e* {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*------------------IR ARRIBa------------*/

.go-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: #000;
    /*background-color: rgb(0, 0, 0, );*/
    background-color: #DEDD10;
    font-size: 12px;
    padding: 1em;
    display: none;
}

.go-top:hover {
    /*background-color: rgba(0, 0, 0, 0.6);*/
    background-color: black;
}

/*---------------------------------------------------------------------------------------*/
 body{
 	position: relative;
    height: auto;
    background: url('../img/body.png') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*overflow: hidden;*/
    /*clear: both;*/
 }
.contenedor{
	/*border: 1px #99a3a4 solid;*/
	/*overflow: hidden;*/
	width: 85%;
	height: auto;
	margin: 0 auto;
	background-color: #fff;
	margin-top: 3%;
}
.logo{
	width: 20%;
}
.container{
	/*border: 2px red solid;*/
	width: 100%;
}
.textoheader{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 50px;
	margin-top: 5%;
}
.nav{
	/*border: 2px red solid;*/
	/*margin: 3% auto;*/
	margin-top: 3%;
	text-align: center;
	background-color:  #f2f4f4 ;
	overflow: hidden;
}
.nav ul{
	padding: 20px;
}
.nav ul a{
	padding: 35px 23px;
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	color: #000;
	font-size: 22px; 
}
.nav ul a:hover{
	color: #DEDD10;
	background-color: #fef9e7;
}

.op-menu{
    display: none;
}

#select{
	color: #DEDD10;
	background-color: #fef9e7;
}
.banner {
    position: relative;
    height: 501px;
    background: url('../img/banner.jpg');
    /*background-size: cover;*/
    /*background-position: center center;*/
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.banner p{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 40px;
	color: #fff;
	background-color: rgba(255,255,255,.5);
	background-color: rgba(0,0,0,.5);
	width: 60%;
	margin: 0 auto;
	margin-top: 9%;
	text-align: center;
	padding: 20px;
}
.fondo{
	background-color: rgba(0,0,0,.6);
	height: 501px;
	overflow: hidden;
}

.boton{
	width: 30%;
	margin: 0 auto;
}
.seccion1{
	padding-top: 5%;
	padding-bottom: 5%;
}
.derecha{
	width: 45%;
}
.izquierda{
	width: 45%;
}
.business-card {
  border: 1px solid #2c3e50;
  background: #2c3e50;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
  color: #fff;
}
.texto{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 19px;
	text-align: justify;
	/*margin-top: 5%;*/
}
.banner2 {
    position: relative;
    height: 401px;
    background: url('../img/banner2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    clear: both;
}
.banner2 p{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	color: #fff;
	/*background-color: rgba(255,255,255,.5);*/
	/*background-color: rgba(0,0,0,.5);*/
	width: 70%;
	margin: 0 auto;
	margin-top: 5%;
	text-align: center;
	/*padding: 20px;*/
}
.fondo2{
	background-color: rgba(0,0,0,.6);
	height: 401px;
	overflow: hidden;
}
/*.imagen{
	width: 100%;
    height: 250px;
    background: url('../img/minimalista2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    clear: both;
}*/

/*---------------------pie------------------*/
footer{
	background: #000000;
	font-family: 'Roboto Condensed', sans-serif;
    height: 100px;
	overflow: hidden;
	clear: both;
}
footer p{
	width: 100%;
	text-align: center;
	font-size: 20px;
	margin-top: 2.5%;
	color: #fff;
}
/*------------------------------------------------------------------------------------------------*/

/*------------------nosotros------------*/
.seccionn{
	padding-top: 5%;
	padding-bottom: 5%;
}
.icono{
	text-align: center;
	color: #fff;
}
.banner3 {
    position: relative;
    height: 451px;
    background: url('../img/banner2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    clear: both;
}
.banner3 p{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	color: #fff;
	/*background-color: rgba(255,255,255,.5);*/
	/*background-color: rgba(0,0,0,.5);*/
	width: 70%;
	margin: 0 auto;
	margin-top: 5%;
	text-align: center;
	/*padding: 20px;*/
}
.conten{
	margin-top: 5%;
	margin-bottom: 5%;
}

/*------------------------------------------------------------------------------------------------*/
/*-------------servicios-----------------*/

.tit{
	text-align: center;
	font-size: 20px;
	padding: 5%;
	color: #fff;
	width: 100%;
	background-color:#2c3e50;
	margin-top: 5%;
	text-transform: uppercase;
}
.imgs1 {
    position: relative;
    width: 100%;
    height: 250px;
    background: url('../img/chalets.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.imgs2 {
    position: relative;
    width: 100%;
    height: 250px;
    background: url('../img/hotel.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.imgs3 {
    position: relative;
    width: 100%;
    height: 250px;
    background: url('../img/oficinas.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.imgs4 {
    position: relative;
    width: 100%;
    height: 250px;
    background: url('../img/casas.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.imgs5 {
    position: relative;
    width: 100%;
    height: 250px;
    background: url('../img/nave.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.imgs6{
    position: relative;
    width: 100%;
    height: 250px;
    background: url('../img/comercios.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
/*------------------------------------------------------------------------------------------------*/
/*--------------------contacto-----------------*/
.contact-form {
    margin-top:70px;
}
.mapa{
	width: 100%;
}
.mapa iframe{
	width: 100%;
}